<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
<system>
        <tab id="hiberus" sortOrder="999" translate="label">
          <label>Hiberus</label>
        </tab>
        <section id="hiberus_nombre" showInDefault="1"  showInStore="1" showInWebsite="1" sortOrder="10">
            <label>Panel Rebordinos</label>
            <tab>hiberus</tab>
            <resource>Hiberus_Rebordinos::config</resource>
            <group id="general" showInDefault="1" sortOrder="10">
                <label>General</label>
                <field id="cantidad" type="text" sortOrder="10" showInDefault="1">
                    <label>Cantidad de elementos a mostrar:</label>
                    <validate>integer</validate>
                </field>

                <field id="notaMinima" type="text" sortOrder="10" showInDefault="1">
                    <label>Nota minima para aprobar: </label>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
    </system>
</config>
