& when (@media-common = true) {
    .page-main {
        .title {
            color:deeppink;
        }
        ul{
            list-style: circle;
        }
        ul:nth-child(even){
            .margin(20px);
        }
        .exam-pass{
            .color-pass(#36d536);
        }
        .exam-fail{
            .color-fail(#b00707)
        }
        button{
            border-radius: 12px;
            margin-bottom: 20px;
            background-color: white;
            color: black;
            border: 2px solid #3674b0;
        }
        button:hover {
            background-color: #008CBA;
            color: white;
        }
        ul{
            border-radius: 25px;
            padding-top: 10px;
            .row-data(#eaeaea,transparent);
        }
        ul.best{
            font-weight: bold;
            .row-data(#ebf4f9,#36a9d5);
        }

    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-main {
        .title {
            color:dodgerblue;
        }

    }
}
